.App {
  text-align: center;
}

header {
  position: fixed;
  width: 100vw;
  background-color: cyan;
}

header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  background-color: cyan;
}

header p { margin-left: 2vw; }
header .body .menu, button { margin-right: 2vw; }

header ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: flex;
  padding: 0px
}

header .menu li { 
  display: flex;
  align-items: center; 
  margin-left: 2vw;
}

header button {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

header .dropdown {
  display: none;
}

@media screen and (max-width: 400px) {
  header .body .menu {
    display: none;
  }
  
  header .dropdown {
    display: block;
    width: 100vw;
    position: absolute;
    background-color: cyan;
  }

  header button {
    display: block;
  }
}